<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de peliculas</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body id="app">

    <h1>Buscador de peliculas</h1>
    <input type="text" id="titulo" placeholder="Pelicula" @keyup.enter="nuevaEntrada" v-model="filtro"><br>
    <input type="submit" value="Buscar" id="boton" @click="nuevaEntrada">
    <div id="container">
        <div v-for="pelicula in peliculas" class="pelicula">
            <h2>{{pelicula.Title}}</h2>
            <img :src="pelicula.Poster" alt="">
            <p>{{pelicula.Year}}</p>
            <button id="info" @click="informacionPelicula(pelicula.imdbID)">Más información</button>
            <div v-show="detallesPelicula">
                <p>Genero: {{detalles.Genre}}</p>
                <p>Director: {{detalles.Director}}</p>
                <p>Actores: {{detalles.Actors}}</p>
                <p>Idioma: {{detalles.Language}}</p>
                <p>Pais: {{detalles.Country}}</p>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>